# Server Configuration
PORT=3000

# Supabase Prisma DB Connections
# URL de Pool de Conexões (Ex: final 6543, pgbouncer)
DATABASE_URL="postgresql://postgres.[SEU-PROJETO]:[SENHA]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# URL Direta para Migrações (Ex: final 5432)
DIRECT_URL="postgresql://postgres.[SEU-PROJETO]:[SENHA]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"

# Supabase API (Opcional para backend, obrigatório se usar SDK)
SUPABASE_URL=""
SUPABASE_KEY=""

# OpenRouter Configuration
OPENROUTER_API_KEY=""
OPENROUTER_MODEL="openai/gpt-4o-mini"
OPENROUTER_BRIDGE_MODEL="google/gemini-2.5-flash-lite"

# Magisterium API Configuration
MAGISTERIUM_API_KEY=""

# uazapi Configuration
UAZAPI_INSTANCE_URL=""
UAZAPI_INSTANCE_TOKEN=""
